
<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1509807995916-c332365e2d9e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4c8d364e633e2015fbac047f327ce098&auto=format&fit=crop&w=2542&q=80');">
  <div class="content">
    <h1>Cindy's Cocktails</h1>
    <p>Let's get a drank</p>
  </div>
</div>
  <div class="container" id="homepage-banner">
    <h2>Cocktail List</h2>
      <div class="row">
      <div class="col-xs-12 col-md-4 cards-container">
        <% @cocktails.each do |cocktail|%>
            <div class="cocktail-cards">
              <%=link_to cocktail.name, cocktail_path(cocktail) %>
            </div>
            <% end %>
        </div>

      </div>


  </div>







