// Specific CSS for your home-page
.banner {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}

h1 {
  text-align: center;
  color: white;
}

p {
  text-align: center;
  color: white;
}

.cards-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  a {
    text-align: center;
  }
}

.cocktail-cards {

}
